<a href="https://colab.research.google.com/github/marantmir/AutomatizacaoPython/blob/main/Convertendo_arquivo_CSV_em_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Convertendo arquivo CSV em Excel

In [ ]:
# Importando as bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Lendo o arquivo csv
arquivo = pd.read_csv('Company.csv')

In [ ]:
# Visualizando os dados
arquivo.head()

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc

In [ ]:
# Salvando o arquivo em xlsx
arquivo_xlsx = pd.ExcelWriter('Company.xlsx')
arquivo.to_excel(arquivo_xlsx, index = False)

In [ ]:
type(arquivo)

pandas.core.frame.DataFrame